p + ul {
    margin-top: -10px;
}

.required-field {
    color: #e53910;
}

.widget_wpcom_social_media_icons_widget .genericon {
    font-size: 24px;
}

.widget_wpcom_social_media_icons_widget .genericon.genericon-facebook:before {
    color: #3b5998;
}

#secondary .widget {
    margin-bottom: 25px !important;
}

#contact_form textarea {
    resize: none;
}
.mark, mark {
    background: none;
}

.product_meta {
    margin-top: 10px;
}

.clearfix {
  clear:both;
}

.woocommerce ul.products li.product h3 {
  text-align: center;
}
/*
.woocommerce .main-content-inner {
  background: none !important;
  border: none !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  padding-top: 0 !important;
}

.woocommerce .main-content-inner #container{
  background: #fff !important;
  border: 1px solid #dadada !important;
  padding: 45px 50px;
  border-radius: 4px;
}*/