p + ul {
    margin-top: -10px;
}

.required-field {
    color: #e53910;
}

.widget_wpcom_social_media_icons_widget .genericon {
    font-size: 24px;
}
.widget_wpcom_social_media_icons_widget .genericon .genericon-facebook:before {
    font-size: 24px;
    color: #3b5998;
}